* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: cornflowerblue;
  color: aliceblue;
}

h1 {
  text-align: center;
}

h2 {
  font: 300;
}

h4 {
  text-align: center;
  width: 90vw;
}

a {
  color: inherit;
  text-decoration: none;
}

/* main {
  /* display: flex; 
} */

p {
  width: 60vh;
  font-family: bookman;
}

ul {
  list-style-type: none;
}